<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div>
      <div class="div1 div" id="topDiv"></div>
      <!-- <div class="div2 div"></div> -->
      <!-- <div class="div4 div"></div> -->
      <div class="goTopLink">
        <a href="#topDiv">
          <img src="../assets/car.jpg" height="24px" width="24px" />
        </a>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />

      <div class="homeSectionDiv">
        <div class="div3 div"></div>
      </div>
    </div>
  </body>
</html>
